spring.application.name: auth-server

server.port: 8080

env.base.url:
  auth-server: ${ENV_BASE_URL_AUTH_SERVER:http://localhost:8080}
  product-service: ${ENV_BASE_URL_PRODUCT_SERVICE:http://localhost:8081}
  storefront: ${ENV_BASE_URL_STOREFRONT:http://localhost:4200}

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

oauth2:
  clients:
    product-service:
      client-id: product-service
      client-secret: product-secret
      client-authentication-method: client_secret_basic
      authorization-grant-types: client_credentials
      scopes:
        - read
        - write
      token:
        access-ttl: PT30M
    swagger-ui:
      client-id: swagger-ui
      client-secret: swagger-secret
      authorization-grant-types:
        - authorization_code
      redirect-uris:
        - ${env.base.url.product-service}/swagger-ui/oauth2-redirect.html
      scopes:
        - openid
        - read
        - write
    # refactor product-service client to 'product-client'
    gateway-client:
      client-id: gateway-client
      client-secret: gateway-secret
      authorization-grant-types:
        - client_credentials
      scopes:
        - read
      token:
        - access-ttl: PT30M
    angular-client:
      client-id: angular-client
      #      no client-secret and client authentication method for PKCE
      client-secret: angular-secret
      client-authentication-method: none
      authorization-grant-types:
        - authorization_code
        - refresh_token
      redirect-uris:
        - ${env.base.url.storefront}/login/callback
      scopes:
        - openid
        - read
      # PKCE
      client-settings:
        require-authorization-consent: true
        require-proof-key: true


logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    # For testing if config is loaded
    root: INFO
    org.springframework.boot.context.config: DEBUG
---
spring.config.activate.on-profile: docker
server.port: 8080