spring.application.name: auth-server

server:
  port: 8080
  servlet:
    context-path: /auth

env.base.url:
  internal:
    auth: ${INTERNAL_AUTH_SERVER_BASE_URL:http://localhost:8080}
    product: ${INTERNAL_PRODUCT_SERVICE_BASE_URL:http://localhost:8081}
  external:
    auth: ${EXTERNAL_AUTH_SERVER_BASE_URL:http://localhost:8080}
    product: ${EXTERNAL_PRODUCT_SERVICE_BASE_URL:http://localhost:8081}
    storefront: ${EXTERNAL_STOREFRONT_CHANNEL_BASE_URL:http://localhost:4200}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/user_management
    username: ${DB_USER:product_user}
    password: ${DB_PASSWORD:product_password}

oauth2:
  clients:
    product-service:
      client-id: product-service
      client-secret: product-secret
      client-authentication-method: client_secret_basic
      authorization-grant-types: client_credentials
      scopes:
        - read
        - write
      token:
        access-ttl: PT30M
    swagger-ui:
      client-id: swagger-ui
      client-secret: swagger-secret
      authorization-grant-types:
        - authorization_code
      redirect-uris:
        - ${EXTERNAL_PRODUCT_SERVICE_BASE_URL:http://localhost:8081}/swagger-ui/oauth2-redirect.html
      scopes:
        - openid
        - read
        - write
    # refactor product-service client to 'product-client'
    gateway-client:
      client-id: gateway-client
      client-secret: gateway-secret
      authorization-grant-types:
        - client_credentials
      scopes:
        - read
      token:
        - access-ttl: PT30M
    angular-client:
      client-id: angular-client
      #      no client-secret and client authentication method for PKCE
      client-secret: angular-secret
      client-authentication-method: none
      authorization-grant-types:
        - authorization_code
        - refresh_token
      redirect-uris:
        #        - ${EXTERNAL_STOREFRONT_CHANNEL_BASE_URL:http://localhost:4200/storefront}/login/callback
        - http://shopbuddy.com/storefront/login/callback
        - http://localhost:4200/storefront/login/callback
      scopes:
        - openid
        - read
      # PKCE
      client-settings:
        require-authorization-consent: true
        require-proof-key: true
    k8s-dashboard-client:
      client-id: k8s-dashboard-client
      client-secret: k8s-dashboard-secret
      client-authentication-method: none
      authorization-grant-types:
        - authorization_code
        - refresh_token
      redirect-uris:
        - http://shopbuddy.com/k8s-dashboard/login/callback
        - http://localhost:4200/k8s-dashboard/login/callback
      scopes:
        - openid
        - read
      client-settings:
        require-authorization-consent: true
        require-proof-key: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    # For testing if config is loaded
    root: INFO
    org.springframework.boot.context.config: DEBUG

---
spring.config.activate.on-profile: docker
server.port: 8080
login-entry-point: /oauth2/login