version: '3.8'

services:
  product:
    build: /src/backend/core/product-service
    image: product:latest
    mem_limit: 256m
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      # accessible by gateway network
      - gateway-network


  gateway:
    build: /src/backend/infra/api-gateway
    image: gateway:latest
    mem_limit: 256m
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      # DNS name = service name, port should be the container port not the host port
      - ENV_BASE_URL_AUTH_SERVER=http://authserver:8080
      - ENV_BASE_URL_PRODUCT_SERVICE=http://product:8080
    networks:
      - gateway-network

  authserver:
    build: /src/backend/infra/auth-server
    image: auth:latest
    mem_limit: 256m
    ports:
      - "8000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      # DNS name = service name, port should be the container port not the host port
      - ENV_BASE_URL_AUTH_SERVER=http://product:8080
      - ENV_BASE_URL_PRODUCT_SERVICE=http://product:8080
      - ENV_BASE_URL_STOREFRONT=http://storefront:8080
    networks:
      - gateway-network
      - storefront-network

  # Your Angular frontend
  storefront:
    build:
      context: /src/frontend/storefront/storefront
      dockerfile: Dockerfile
    container_name: angular-app
    ports:
      - "8000:8080"  # Map host:container port
    networks:
      - storefront-network
    # Optional: Add environment variables
    # environment:
    #   - API_URL=http://backend:3000
    # Optional: For development with volume mounting
    # volumes:
    #   - ./path-to-angular-app/src:/app/src

volumes:
  postgres_data:

networks:
  product-network:
    driver: bridge
  gateway-network:
    driver: bridge
  storefront-network:
    driver: bridge