version: '3.8'

services:
  product:
    build: /src/backend/core/product-service
    image: product:latest
    mem_limit: 256m
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

volumes:
  postgres_data:

networks:
  product-network:
    driver: bridge