server:
  port: 8000
#  servlet:
#    context-path: /gateway

spring.application.name: api-gateway

env.base.url:
  internal:
    auth: ${INTERNAL_AUTH_SERVER_BASE_URL:http://localhost:8080}
    product: ${INTERNAL_PRODUCT_SERVICE_BASE_URL:http://localhost:8081}
    cart: ${INTERNAL_CART_SERVICE_BASE_URL:http://localhost:8082}
    order: ${INTERNAL_ORDER_SERVICE_BASE_URL:http://localhost:8083}
  external:
    auth: ${EXTERNAL_AUTH_SERVER_BASE_URL:http://localhost:8080}
    product: ${EXTERNAL_PRODUCT_SERVICE_BASE_URL:http://localhost:8081}
    cart: ${EXTERNAL_CART_SERVICE_BASE_URL:http://localhost:8082}
    order: ${EXTERNAL_ORDER_SERVICE_BASE_URL:http://localhost:8083}

spring:
  security:
    oauth2:
      client:
        registration:
          gateway-client:
            client-id: gateway-client
            client-secret: gateway-secret
            authorization-grant-type: client_credentials
            scope:
              - read
            provider: my-auth-provider
        provider:
          my-auth-provider:
            issuer-uri: ${env.base.url.internal.auth}
      resourceserver:
        jwt:
          issuer-uri: ${env.base.url.internal.auth}
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - TokenRelay
          routes:
            # Main Swagger UI HTML
            - id: product-service-swagger-ui
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/swagger-ui.html
              filters:
                - RewritePath=/product/swagger-ui.html, /product/swagger-ui.html

            # API docs
            - id: product-service-docs
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/v3/api-docs
              filters:
                - RewritePath=/product/v3/api-docs, /product/v3/api-docs

            # Swagger UI config (needed for Swagger UI to know where to get APIs)
            - id: product-service-swagger-config
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/v3/api-docs/swagger-config
              filters:
                - RewritePath=/product/v3/api-docs/swagger-config, /product/v3/api-docs/swagger-config

            # JS, CSS, etc. needed for Swagger UI to render
            - id: product-service-swagger-assets
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/swagger-ui/**
              filters:
                - RewritePath=/product/swagger-ui/(?<segment>.*), /product/swagger-ui/${segment}

            # Optional: Webjars (icons, fonts, etc. used by older Swagger versions)
            - id: product-service-webjars
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/webjars/**
              filters:
                - RewritePath=/product/webjars/(?<segment>.*), /product/webjars/${segment}

            - id: product-service
              uri: ${env.base.url.internal.product}
              predicates:
                - Path=/product/**
              filters:
                - RewritePath=/product/product/(?<segment>.*), /product/${segment}

            - id: cart-service
              uri: ${env.base.url.internal.cart}
              predicates:
                - Path=/cart/**
              filters:
                - RewritePath=/cart/cart/(?<segment>.*), /cart/${segment}

            - id: order-service
              uri: ${env.base.url.internal.order}
              predicates:
                - Path=/order/**
              filters:
                - RewritePath=/order/order/(?<segment>.*), /order/${segment}

---
spring.config.activate.on-profile: docker
server.port: 8080