apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: product
  name: product-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      name: product
      labels:
        app: product
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:17-alpine
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres -p 5432 -U product_user; do
                echo "Waiting for postgres..."
                sleep 2
              done
          env:
            - name: PGPASSWORD
              value: "product_password"
      containers:
        - name: product
          image: product:latest
          imagePullPolicy: Never # recommended for local development
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
          envFrom:
            - configMapRef:
                name: backend-url-configmap
#          livenessProbe:
#            httpGet:
#              path: /product/actuator/health/liveness
#              port: 8080
#            initialDelaySeconds: 20
#            periodSeconds: 30
#          readinessProbe:
#            httpGet:
#              path: /product/actuator/health/readiness
#              port: 8080
#            initialDelaySeconds: 10
#            periodSeconds: 5