apiVersion: v1
kind: Pod
metadata:
  name: mypod
  labels:
    app: product
spec:
  initContainers:
    - name: wait-for-postgres
      image: postgres:17-alpine
      command:
        - sh
        - -c
        - |
          until pg_isready -h postgres -p 5432 -U product_user; do
            echo "Waiting for postgres..."
            sleep 2
          done
      env:
        - name: PGPASSWORD
          value: "product_password"
  containers:
    - name: product
      image: product:latest
      imagePullPolicy: Never # recommended for local development
      ports:
        - containerPort: 8080
      env:
        - name: DB_HOST
          value: "postgres"
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: DB_PORT
          value: "5432"

---

apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product
  ports:
    - port: 8080
      targetPort: 8080
  type: NodePort


---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "product_catalog"
            - name: POSTGRES_USER
              value: "product_user"
            - name: POSTGRES_PASSWORD
              value: "product_password"
            - name: POSTGRES_INITDB_ARGS
              value: "--encoding=UTF-8 --lc-collate=en_US.UTF-8 --lc-ctype=en_US.UTF-8"
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
---

apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - port: 5432
  clusterIP: None # Headless service for stateful set
  selector:
    app: postgres