server:
  port: 8083
  servlet:
    context-path: /order

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/order_service
    username: ${DB_USER:product_user}
    password: ${DB_PASSWORD:product_password}
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

env:
  base:
    url:
      internal:
        auth: ${INTERNAL_AUTH_SERVER_BASE_URL:http://localhost:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    try-it-out-enabled: true
    use-root-path: true

logging:
  level:
    dev.agasen.core.order: DEBUG

---
spring.config.activate.on-profile: docker

server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/order_service
